@import "~antd/dist/antd.css";

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    "Courier New",
    monospace;
}

#root {
  padding: 10px;
}

.border {
  margin: 10px;
  padding: 10px;
  border: solid 1px red;
}

.red {
  color: red;
}

.green {
  color: green;
}

.pink {
  color: pink;
}

.dialog {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 300px;
  line-height: 30px;
  text-align: center;
  border: solid 1px gray;
  transform: translate(50%, 50%);
}